* {
  margin: 0;
  padding: 0;
}

#chart-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration:none;
  /* color: #00ad5f; */
}

#data-table {
  text-align: center;
}


.column {
  overflow: hidden;
}
.column-left {
  height: 900px;
  background-color: #fff;
  position: relative;
  float: left;
}
.column-right {
  height: 900px;
  padding: 16px;
  max-height: 2000px;
  background-color: #eee;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y:auto;
}
.resize-save {
  position: absolute;
  top: 0; right: 5px; bottom: 0; left: 0;
  padding: 16px;
  overflow-x: hidden;
}
/* 分栏宽度 */
.resize-bar {
  width: 1400px; height: inherit;
  resize: horizontal;
  cursor: ew-resize; 
cursor: col-resize;
  opacity: 0;
  overflow: scroll;
}
/* 拖拽线 */
.resize-line {
  position: absolute;
  right: 0; top: 0; bottom: 0;
  border-right: 2px solid #eee;
  border-left: 1px solid #bbb;
  pointer-events: none;
}
.resize-bar:hover ~ .resize-line,
.resize-bar:active ~ .resize-line {
  border-left: 1px dashed skyblue;
}
.resize-bar::-webkit-scrollbar {
  width: 200px; height: inherit;
cursor: ew-resize;
cursor: col-resize;
}

/* Firefox只有下面一小块区域可以拉伸 */
@supports (-moz-user-select: none) {
  .resize-bar:hover ~ .resize-line,
  .resize-bar:active ~ .resize-line {
      border-left: 1px solid #bbb;
  }
  .resize-bar:hover ~ .resize-line::after,
  .resize-bar:active ~ .resize-line::after {
      content: '';
      position: absolute;
      width: 16px; height: 16px;
      bottom: 0; right: -8px;
      /* background: url(./resize.svg); */
      background-size: 100% 100%;
  }
}

/*mobile*/
@media screen and (max-width: 640px) {
  .main {
      -webkit-user-select: none;
      user-select: none;
  }
}

#mypolipop{
  width: 1000px;
}
